header
    .jumbotron.text-center#jumbo
        img(src="/imagenes/imc.png", alt="IMC" id="logo" class="rounded mx-auto")
        h1.display-4#titulo LA SALUD ES PRIMERO
        p.text-muted siempre es importante medir tus indices!